@import url('https://fonts.googleapis.com/css?family=Bungee|Work+Sans');

:root {
    font-family: 'Arial Cyr', 'Times New Roman', 'Work Sans', sans-serif;
}
/*Для  заголовка зверху*/

.art {
    width: 100%;
    height: 30px;
    background: white;
    color: #000000;
    font-weight: bold;
    font-family: 'Arial Cyr';
    font-size: 16pt;
    font-style: oblique;
    text-align: center;
}

/*Для назви решти заголовків*/

.art1 {
    width: 100%;
    height: 30px;
    background: white;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 16pt;
    font-style: oblique;
    text-align: center;
}


body {
    max-width: 980px;
    margin: auto;
}


.button:hover {
    background-color: #4CAF50;
    color: red;
}

.btn-default {
    border-color: yellow;
}

.btn-default:hover {
    background-color: yellow;
}

.product-card {
    border: 1px solid black;
    padding: 40px;
}

.product-card img {
    display: block;
    width: 50%;
}

.product-card .button-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*.banner { */
/*    min-height: 500px;*/
/*    background-image: url(../img/tit/roses3.jpg);*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/


/*Обтікання картинки текстом зліва*/

.left {
    float: left;
    width: 200px;
    margin: 5px 10px 5px 0;
    /*text-align: center;*/
    /*border: 1px solid black;*/
}

.grid-container {
    display: grid;
    grid-template-columns:30% 30% 30%;
    grid-gap: 10px;
    background-color: white;
    padding: 5px;
}

.grid-container>div {
    /*background-color: rgba(255, 255, 255, 0.5);*/
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}

.item3 img {
    /*display: block;*/
    width: 100%;
}