/*Для біжучого рядка*/

.art {
    width: 600px;
    height: 30px;
    background: white;
    color: #000000;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
    font-family: Arial Cyr;
    font-size: 16pt;
}

#div1 {
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes mymove {
    from {
        left: 300px;
    }
    to {
        left: 0px;
    }
}

/*Для назви ТзОВ*/

#p1 {
    font-style: oblique;
    font-size: 26px;
}

:root {
    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

/*header p.logo {*/
/*    font-family: 'Arial', cursive;*/
/*    font-size: 3rem;*/
/*    text-align: center;*/
/*    margin: 0;*/
/*}*/

nav ul.menu {
    padding-left: 20px;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 0;
    justify-content: space-around;
}

nav ul.menu li {
    /*list-style: none;*/
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.2rem;
}

nav ul.menu li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.2rem;
}

nav ul.menu li b:hover {
    text-decoration: underline;
}



.button:hover {
    background-color: #4CAF50;
    color: red;
}

.btn-default {
    border-color: yellow;
}

.btn-default:hover {
    background-color: yellow;
}

.product-card {
    border: 1px solid black;
    padding: 10px;
}

.product-card img {
    display: block;
    width: 100%;
}

.product-card .button-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
